name: Bara WiFi Hacker Tool
version: 1.0.0
description: Advanced WiFi scanning and deauthentication tool
author: Ahmed Nour Ahmed
license: MIT

dependencies:
  arduino-esp32: ^2.0.0
  AsyncTCP: ^1.1.1
  ESPAsyncWebServer: ^2.0.0

platformio:
  env:
    - name: esp32dev
      platform: espressif32
      board: esp32dev
      framework: arduino
      build_flags:
        - "-D ARDUINO_ESP32_DEV"
        - "-D ARDUINO_RUNNING_CORE=1"

targets:
  upload:
    command: platformio run --target upload
  clean:
    command: platformio run --target clean
  build:
    command: platformio run --target build
